<html>
<head>
<meta charset="utf-8">
    <title>ขอบคุณที่ลงทะเบียนกับ Huawei NOVA 5T Exclusive Pre-Sale</title>
</head> 

    <body style="font-family: 'prompt'; background-color: black !important; padding: 0; margin: 0;">

        <div>
            <img width="100%" src="http://huaweinovath.com/web/views/thankyou-hd.png">
    
            <div style="text-align: center; padding: 16px 30px;">
                <img style="width: 230px; height: 230px;" src="http://huaweinovath.com/services/qrcode/{0:QR_CODE}" />
            </div>
    
            <img width="100%" src="http://huaweinovath.com/web/views/thankyou-ft.png">
    
        </div>
    
    </body>
</html>
