<html>
<head>
    <meta charset="utf-8">
    <title>ขอบคุณที่เข้าร่วมกิจกรรม</title>
</head>
<body>  
    <div style="width: 450px; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;">

        <br />
        <span>เรียนคุณ {0:RECEIVER_NAME}</span>
        <br />
        <br />
        
        <div class="container">
        
            <img src="http://huaweinovath.com/web/views/logo.jpg" width="100%">
        
            <p style="font-size: 16px; padding: 25px;">ขอขอบคุณที่ร่วมสนุกกับกิจกรรม</p>
            <p style="font-size: 16px; padding: 25px;">ท่านสามารถติดตามกิจกรรมได้ที่  
            <a href="https://www.facebook.com/HuaweimobileTH/">https://www.facebook.com/HuaweimobileTH/</a></p>

            
            <div style="width: 50px; height: 50px; text-align: center; margin-top: 20px;">
                <img src="http://huaweinovath.com/web/views/logo.jpg">
            </div>

        </div>

        <h2>Huawei Customer Service</h2>
        <br />
    </div>
</body>
</html>
