<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Huawei Customer Registration</title>
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/loading.min.css" rel="stylesheet">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.ui.widget.js"></script>
    <script src="../js/jquery.fileupload.js"></script>
    <script src="../js/loading.min.js"></script>
    <script src="../js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>

<body style="font-family: 'prompt';">

    <div class="container">

        <img src="logo.jpg" width="100%" />

        <div class="col-sm-12">

            <h2>กรุณากรอกข้อมูล</h2>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label>คำนำหน้า</label>
                    <select id="sex" name="sex" class="form-control">
                        <option value="1">นาย</option>
                        <option value="2">นางสาว</option>
                        <option value="3">นาง</option>
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <label>ชื่อ</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" />
                </div>
                <div class="col-sm-4 form-group">
                    <label>นามสกุล</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>หมายเลขบัตรประจำตัวประชาชน</label>
                    <input type="text" name="identifier" id="identifier" 
                        maxlength="13" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>เบอร์โทรศัพท์</label>
                    <input type="text" name="mobile" id="mobile" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>อีเมล์</label>
                    <input type="text" name="email" id="email" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>สี</label>
                    <div class="radio no-margin" class="form-control">
                        <label><input type="radio" name="color" id="color" value="1" checked>
                            <img src="midsummer.png" style="width: 15px;" />
                            MidSummer Purple
                        </label>
                    </div>
                    <div class="radio no-margin" class="form-control">
                        <label><input type="radio" name="color" id="color" value="2">
                            <img src="srushblue.png" style="width: 15px;" />
                            Crush Blue
                        </label>
                    </div>
                    <div class="radio no-margin" class="form-control">
                        <label><input type="radio" name="color" id="color" value="3">
                            <img src="black.png" style="width: 15px;" />
                            Black
                        </label>
                    </div>
                    <!--label>ที่อยู่ (optional)</label>
                    <textarea name="address" id="address" rows="3" class="form-control"></textarea-->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label>เงื่อนไขการร่วมกิจกรรม</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <div style="height: 250px; width: 100%; overflow-y: scroll; background: #eee; border: 1px solid #ccc; padding: 8px 16px;">
                        <ul class="bulltet-inside">
                            <li>
                                ลูกค้าจะต้องลงทะเบียนจองสินค้า ระหว่างวันที่ 27 สิงหาคม 2562 ถึงวันที่ 6 กันยายน 2562 ผ่านทางช่องทางที่บริษัท หัวเว่ย เทคโนโลยี่ (ประเทศไทย) จำกัด (“บริษัท”) กำหนด โดยสงวนสิทธิ์การลงทะเบียนจอง 1 อีเมลต่อ 1 สิทธิ์
                            </li>
                            <li>
                                ลูกค้าที่ได้รับ QR Code จากการลงทะเบียน สามารถซื้อโทรศัพท์ Huawei รุ่น nova 5T เฉพาะเครื่องเปล่า จำนวน 1 เครื่อง ในงาน Huawei nova 5 Day Pre-Sale ณ ลานทางเชื่อม BTS Siam Square One ในวันที่ 15 กันยายน 2562 จากผู้จัดจำหน่ายของบริษัทฯ ในระหว่างเวลา 10.00 น. – 20.00 น. โดยมีสิทธิ์รับของสมนาคุณเหมือนกับโปรโมชั่นวันเปิดจองตามปกติ และจำกัดสิทธิ์การซื้อสินค้า 1 เครื่องต่อ 1 บัตรประชาชน
                            </li>
                            <li>
                                ลูกค้า 1,000 ท่านแรกที่เข้ามาร่วมงานและซื้อโทรศัพท์ Huawei รุ่น nova 5T ในงานเสร็จสมบูรณ์ จะมีสิทธิ์ได้รับ nova Gift มูลค่ากว่า 7,000 บาท โดยมีรายละเอียดของรางวัล ดังต่อไปนี้
                                <ul>
                                    <li>ลำโพงคู่ Huawei Mini Speaker จำนวน 2 ชิ้น รวมมูลค่า 1,990 บาท</li>
                                    <li>หูฟัง Huawei Freelace จำนวน 1 ชิ้น มูลค่า 2,490 บาท</li>
                                    <li>คูปองส่วนลดต่างๆ จาก nova 5T รวมมูลค่ากว่า 5,000 บาท</li>
                                </ul>
                            </li>
                            <li>
                                ลูกค้าต้องนำเอกสารเพื่อมาแสดงสิทธิ์รับ nova Gift ดังต่อไปนี้
                                <ul>
                                    <li>โทรศัพท์ Huawei รุ่น nova 5T ที่ซื้อในงาน</li>
                                    <li>ใบกำกับภาษีพร้อมตราประทับ<span class="font-red">ของร้านค้าที่ซื้อสินค้ามา</span></li>
                                    <li>บัตรประชาชนที่แสดงชื่อตรงกันกับชื่อที่ปรากฎบนใบกำกับภาษี</li>
                                    <li>QR Code ที่ได้รับจากการลงทะเบียนจองซื้อสินค้า</li>
                                </ul>
                            </li>
                            <li>
                                ชื่อในการลงทะเบียนจองซื้อ บัตรประชาชน และใบกำกับภาษีต้องตรงกัน ยกเว้นกรณีมอบอำนาจซึ่งจะต้องแนบสำเนาบัตรประชาชนของผู้มอบอำนาจและผู้รับมอบอำนาจเพิ่มเติม 
                            </li>
                            <li>
                                กรณีลูกค้าไม่ซื้อสินค้าเสร็จสิ้นตามเวลาที่กำหนด ไม่สามารถแสดงหลักฐาน หรือพบความผิดพลาดในการลงทะเบียน หรือทำผิดเงื่อนไข จะถือว่าผู้ซื้อสละสิทธิ์ และบริษัทฯ ขอสงวนสิทธิ์ในการไม่ชดเชยทุกกรณี
                            </li>
                            <li>
                                ของสมนาคุณไม่สามารถแลก ทอน หรือเปลี่ยนเป็นเงินสด สิ่งของ หรือรางวัลอื่นได้
                            </li>
                            <li>
                                เมื่อท่านทำการลงทะเบียนจองซื้อสินค้า <span class="font-red">กรุณาอ่านคำชี้แจงเกี่ยวกับความเป็นส่วนตัวเพื่อให้บริษัทฯ</span> 
                                สามารถเก็บ รวบรวม ใช้ เปิดเผยและจัดเก็บข้อมูลของท่าน <span class="font-red">ทั้งนี้ บริษัทฯ อาจ</span>ส่งข้อมูลข่าวสารผ่านทาง sms และอีเมลที่ได้ลงทะเบียนไว้ 
                                การดำเนินการเกี่ยวกับข้อมูลของท่านจะเป็นไปตามนโยบายความเป็นส่วนตัวของ บริษัท หัวเว่ย เทคโนโลยี (ประเทศไทย) จำกัด 
                                สามารถตรวจสอบรายละเอียดเพิ่มเติมได้ที่ <a target="_blank" href="http://www.facebook.com/HuaweimobileTH/">http://www.facebook.com/HuaweimobileTH/ </a>
                            </li>
                            <li>หากมีข้อสงสัย สามารถติดต่อฝ่ายลูกค้าสัมพันธ์ หากมีข้อสงสัย สามารถติดต่อฝ่ายลูกค้าสัมพันธ์ โทรฟรี 1800-01-1113 (สำหรับโทรศัพท์บ้านเท่านั้น) ทุกวันทำการ (จันทร์ -ศุกร์) เวลา 09.00 น. – 21.00 น.</li>
                        </ul>

                        <div class="privacy">
                            <h3>คำชี้แจงเกี่ยวกับกิจกรรม Nova 5 เดย์และความเป็นส่วนตัว</h3>
                            <p>
                                บริษัท หัวเว่ย เทคโนโลยี่ (ประเทศไทย) จำกัด ภายใต้เครื่องหมายการค้า HUAWEI (หัวเว่ย) เรียกว่า (“บริษัทฯ” หรือ “เรา”) 
                                จะทำการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของผู้ลงทะเบียนเพื่อรับสิทธิ์ในการร่วมกิจกรรม NOVA 5 เดย์ ตั้งแต่วันที่ 27 สิงหาคม 2562 ถึงวันที่ 6 กันยายน 2562 ดังมีรายการเพื่อให้เจ้าของข้อมูลส่วนบุคคลทราบและให้ความยินยอม ดังต่อไปนี้  
                            </p>  
                            <p> 
                                <strong>ข้อมูลที่เรารวบรวมเกี่ยวกับคุณ</strong> เราจะรวบรวมและใช้ข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์ที่ระบุในคำชี้แจงนี้เท่านั้น ข้อมูลส่วนบุคคล หมายถึง ข้อมูลใดๆ ที่จะช่วยให้ บริษัทฯ สามารถระบุว่า คุณเป็นผู้ใช้ โดยเราจะรวบรวมและประมวลผลข้อมูล ดังต่อไปนี้ :
                                <ul>
                                    <li>ชื่อและนามสกุล</li>
                                    <li>หมายเลขบัตรประจำตัวประชาชน</li>
                                    <li>เบอร์โทรศัพท์ (หรือเบอร์โทรศัพท์มือถือ)</li>
                                    <li>อีเมล์  และ/หรือ ที่อยู่ (หากระบุ)</li>
                                </ul>
                            </p>
                            <ul class="bulltet-inside">
                                <li>
                                    <p><strong>ระยะเวลาที่เราเก็บข้อมูลของคุณ</strong></p>
                                    <p>
                                        เราจะเก็บรักษาข้อมูลส่วนบุคคลของคุณไว้ไม่เกินกว่าความจำเป็นเพื่อวัตถุประสงค์ตามกิจกรรม เป็นระยะเวลา 35 วัน (ตั้งแต่วันที่เริ่มกิจกรรมจนถึงวันที่ 30 กันยายน 2562) เมื่อระยะเวลาเก็บรักษาสิ้นสุดลง 
                                        เราจะลบหรือปรับข้อมูลส่วนบุคคลของคุณเพื่อไม่ให้ระบุตัวตนได้ เว้นแต่ว่ากฎหมายและข้อบังคับต่างๆ ได้กำหนดไว้เป็นอย่างอื่น
                                    </p>
                                </li>
                                <li>
                                    <p><strong>วิธีที่เราแบ่งปันข้อมูลของคุณ</strong></p>
                                    <p>
                                        <strong>การเปิดเผยข้อมูลที่เกี่ยวข้องกับข้อกำหนดทางกฎหมายและธุรกรรมทางธุรกิจ</strong>
                                        บริษัทฯ อาจเปิดเผยข้อมูลของคุณเพื่อให้เป็นไปตามกระบวนการทางกฎหมายหรือการร้องขอจากหน่วยงานที่มีอำนาจตามกฎหมายที่บังคับใช้หรือ
                                        ที่เกี่ยวเนื่องกับขั้นการดำเนินการหรือกระบวนการทางกฎหมาย ข้อมูลที่รวบรวมจะถูกจัดเก็บไว้ในประเทศไทย ทาง บริษัทฯ 
                                        จะพยายามอย่างดีที่สุดเพื่อรักษาความปลอดภัยของข้อมูล
                                    </p>
                                </li>
                                <li>
                                    <p><strong>คุณมีสิทธิและทางเลือกใดบ้าง</strong></p>
                                    <p>
                                        <span>
                                            คุณมีสิทธิและทางเลือก ดังต่อไปนี้ 
                                        </span>
                                        <ul>
                                            <li>การเข้าถึงข้อมูลส่วนบุคคล
                                                คุณสามารถเข้าถึงข้อมูลเบื้องต้นของคุณตามที่ได้แจ้งไว้ในคำชี้แจงนี้
                                            </li>
                                            <li>ลบข้อมูลส่วนบุคคลหรือเพิกถอนความยินยอมของคุณ
                                                คุณสามารถติดต่อผู้ดูแลระบบหรือผู้ควบคุมเพื่อทำการลบข้อมูลส่วนบุคคลของคุณ
                                            </li>
                                        </ul>
                                    </p>
                                </li>
                                <li>
                                    <p><strong>วิธีติดต่อเรา</strong></p>
                                    <p>
                                        หากคุณมีข้อสงสัย ข้อคิดเห็น หรือข้อเสนอแนะเกี่ยวกับสิทธิของคุณในข้อมูลหรือการประมวลผลข้อมูลส่วนบุคคลของคุณ โปรดติดต่อเจ้าหน้าที่ของเรา โดยสามารถส่งอีเมลไปที่ 
                                    </p>
                                    <p>ชื่อเจ้าหน้าที่ : <strong>please put name and surname (full word) of data controller in Thai language.</strong></p>
                                    <p>อีเมล์ :  <strong>xxxxxx</strong></p>
                                    <p>ที่อยู่สำนักงาน : บริษัท หัวเว่ย เทคโนโลยี่ (ประเทศไทย) จำกัด 
                                        ณ เลขที่ 9 อาคารจี ทาวเวอร์ แกรนด์ พระราม 9 ห้องเลขที่ จีเอ็น 01-04 ชั้น 35 ถนนพระราม9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-12">
                    <label for="accepted" class="control-label" style="cursor: pointer;">
                        <input type="checkbox" name="accepted" id="accepted" value="1" style="cursor: pointer;"> 
                        ฉันยอมรับข้อกำหนดและเงื่อนไขในการร่วมกิจกรรม
                    </label>
                </div>
            </div>

            <div style="text-align: center; margin: 20px;">
                <button id="registerBtn" class="register btn btn-primary">บันทึกข้อมูล</button>
                <button id="clearBtn" class="register btn btn-default">ล้างข้อมูล</button>
            </div>

        </div>
    
    <!-- End Container-->
    </div>

</body>

</html>