<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Huawei Customer Registration</title>
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/loading.min.css" rel="stylesheet">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.ui.widget.js"></script>
    <script src="../js/jquery.fileupload.js"></script>
    <script src="../js/loading.min.js"></script>
    <script src="../js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>

<body style="font-family: 'prompt';">

    <div class="container">

        <img src="logo.jpg" width="100%" />

        <div class="col-sm-12">

            <h2>กรุณากรอกข้อมูล</h2>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label>คำนำหน้า</label>
                    <select id="sex" name="sex" class="form-control">
                        <option value="1">นาย</option>
                        <option value="2">นางสาว</option>
                        <option value="3">นาง</option>
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <label>ชื่อ</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" />
                </div>
                <div class="col-sm-4 form-group">
                    <label>นามสกุล</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>หมายเลขบัตรประจำตัวประชาชน</label>
                    <input type="text" name="identifier" id="identifier" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>เบอร์โทรศัพท์</label>
                    <input type="text" name="mobile" id="mobile" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>อีเมล์</label>
                    <input type="text" name="email" id="email" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>ที่อยู่ (optional)</label>
                    <textarea name="address" id="address" rows="3" class="form-control"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>สี</label>
                    <div class="radio" class="form-control">
                        <label><input type="radio" name="color" value="1" checked>MidSummer Purple</label>
                    </div>
                    <div class="radio" class="form-control">
                        <label><input type="radio" name="color" value="2">Crush Blue</label>
                    </div>
                    <div class="radio" class="form-control">
                        <label><input type="radio" name="color" value="3">Black</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label>เงื่อนไขการร่วมกิจกรรม</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <div style="height: 250px; width: 100%; overflow-y: scroll; background: #eee; border: 1px solid #ccc; padding: 8px 16px;">
<h4>เงื่อนไขกิจกรรม</h4>
<p>เมื่อซื้อโทรศัพท์มือถือ แท็บเล็ตหัวเว่ย โน๊ตบุ๊คหัวเว่ย หรือนาฬิกาหัวเว่ย รุ่นใดก็ได้ ตั้งแต่วันที่ 28 มิถุนายน 2562 ถึง วันที่ 31 สิงหาคม 2562 สามารถลงทะเบียนโดยพิมพ์ชื่อ-นามสกุล (ที่แสดงบนบัตรประจำตัวประชาชนของท่าน) หมายเลขโทรศัพท์และอีเมลที่สามารถติดต่อได้ หมายเลข <span class="highlight">IMEI1</span> 
ของโทรศัพท์หรือแท็บเล็ตที่ซื้อ วันที่ซื้อ <span class="highlight">จำกัด 3 สิทธิ์ ต่อ 1 ท่าน (1 IMEI1 ต่อ 1 สิทธิ์)</span> เพื่อรับสิทธิ์ลุ้นรางวัลได้ 3 ช่องทาง</p>
<ul>
<li>ช่องทางที่ 1 www.huaweifestival.com/HuaweiGrandsales</li>
<li>ช่องทางที่ 2 LINE App HuaweiMobile Thailand (Official Account)</li>
<li>ช่องทางที่ 3 สแกน QR Code ที่สื่อต่างๆ ณ จุดขายของหัวเว่ย เพื่อนำไปสู่หน้าลงทะเบียน</li> 
</ul>

<h4 style="margin-top: 20px;">ของรางวัล</h4>
<p>รถยนต์ BMW 520d M Sport มูลค่า 3,539,000 บาท จำนวน 1 รางวัล</p>

<h4 style="margin-top: 20px;">การจับรางวัลและประกาศรางวัล</h4>
<p>จับรางวัลในวันที่ 3 กันยายน 2562 เวลา 14.00 น. โดยจับจากชิ้นส่วนที่ทำการซื้อสินค้าที่หัวเว่ยและลงทะเบียน ตั้งแต่วันที่ 28 มิถุนายน 2562 ถึง วันที่ 31 สิงหาคม 2562</p>
<p>ประกาศรางวัลวันที่ 4 กันยายน 2562 เวลา 17.00 น. และประกาศรายชื่อทางhttps://www.facebook.com/HuaweimobileTH/</p>

<h4 style="margin-top: 20px;">วิธีการจับรางวัล</h4>
<p>บริษัทจะนำข้อมูลทั้งหมดของผู้ร่วมรายการบันทึกข้อมูลผ่านคอมพิวเตอร์ จัดพิมพ์ ตัดเป็นชิ้นส่วนนำมาจับรางวัลตามวันที่กำหนด สถานที่จับรางวัล บริษัท หัวเว่ย เทคโนโลยี่ (ประเทศไทย) จํากัด เลขที่ 9 อาคารจี ทาวเวอร์แกรนด์ พระราม 9 ชั้น 34-39 ถนนพระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310</p>

<h4 style="margin-top: 20px;">เงื่อนไขการรับรางวัล</h4>
<ul>
    <li>หลังจากที่ประกาศรายชื่อผู้โชคดี ผู้ที่มีสิทธิ์รับรางวัลจะต้องนำใบเสร็จรับเงินฉบับจริง และโทรศัพท์มือถือ/แท็บเล็ตหัวเว่ยที่มีหมายเลข IMEI 1 ที่ตรงกับหมายเลขที่ลงทะเบียนเอาไว้ และได้ทำการเปิดใช้งานตั้งแต่วันที่ 28 มิถุนายน 2562 ถึง วันที่ 31 สิงหาคม 2562  มาแสดงเป็นหลักฐานในการรับของรางวัล โดยชื่อและนามสกุลที่ใช้ลงทะเบียนจะต้องตรงกับชื่อและนามสกุลที่แสดงบนบัตรประจำตัวประชาชน ผู้โชคดีที่ได้รับรางวัลจะต้องติดต่อกลับ บริษัท หัวเว่ย เทคโนโลยี่ ประเทศไทย จำกัด ภายใน 30 วัน นับตั้งแต่วันที่ประกาศผล</li>
    <li>ผู้โชคดีจะต้องติดต่อที่ เบอร์ 02-5919800 กด 0 และผู้โชคดีจะต้องส่งอีเมลสำเนาบัตรประชาชนมายังบริษัทฯ ที่ huaweigrandsales@gmail.com มิเช่นนั้น จะถือว่าสละสิทธิ์</li>
    <li>ผู้ได้รับรางวัล จะต้องชำระเงินค่าหักภาษี ณ ที่จ่าย 5 % ของมูลค่าของรางวัล</li>
    <li>ผู้ได้รับรางวัล จะต้องชำระเงินค่าจดทะเบียนรถ ค่าโอนรถ ค่ามัดจำป้ายแดง ค่า พ.ร.บ. ค่าประกันภัย และค่าใช้จ่ายที่เกี่ยวกับรถด้วยตนเอง</li>
    <li>พนักงานบริษัท หัวเว่ย เทคโนโลยี ประเทศไทย ไม่มีสิทธิ์ร่วมรายการ</li> 
    <li>ของรางวัลไม่สามารถแลกเป็นเงินสดได้หรือโอนสิทธิ์ให้ผู้อื่นได้</li> 
    <li>กรณีที่มีข้อพิพาธให้ถือคำตัดสินของบริษัทฯ เป็นที่สิ้นสุด</li>
    <li>บริษัทฯ ถือขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไข และเปลี่ยนแปลงรางวัลในราคาเท่ากัน โดยมิต้องแจ้งให้ทราบล่วงหน้า</li>
    <li>การขอรับรางวัลถือเป็นการอนุญาตให้ บริษัท หัวเว่ย เทคโนโลยี่ ประเทศไทยใช้ชื่อ ภาพ เสียง และข้อมูลอื่นใดของผู้รับรางวัลในการโฆษณา และการค้าโดยไม่ต้องจ่ายค่าตอบแทนใด ๆ ทั้งสิ้น</li>
</ul>

                </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-12">
                    <label for="accepted" class="control-label" style="cursor: pointer;">
                        <input type="checkbox" name="accepted" id="accepted" value="1" style="cursor: pointer;"> 
                        ฉันยอมรับข้อกำหนดและเงื่อนไขในการร่วมกิจกรรม
                    </label>
                </div>
            </div>

            <div style="text-align: center; margin: 20px;">
                <button id="registerBtn" class="register btn btn-primary">บันทึกข้อมูล</button>
                <button id="clearBtn" class="register btn btn-default">ล้างข้อมูล</button>
            </div>

        </div>

    </div>

</body>

</html>