<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Huawei Customer Registration</title>
      <link href="../css/app.css" rel="stylesheet">
      <link href="../css/bootstrap.min.css" rel="stylesheet">
      <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="../fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
      <link href="../fonts/glyphicons-halflings-regular.svg" rel="stylesheet">
      <link href="../fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
      <link href="../fonts/glyphicons-halflings-regular.woff" rel="stylesheet">

      <script src="../js/jquery-3.2.1.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script type="text/javascript">
        function gotoMain () {
          window.location.href = "http://huaweifestival.com";
        }
      </script>
  </head>

  <body style="font-family: 'prompt';">

        <div class="container">
          <img src="logo.jpg" width="100%">

          <div style="padding: 25px;">
            <h3>ลงทะเบียนสำเร็จ !</h3>
            <p style="font-size: 16px;">
              อีเมล์ยืนยันการลงทะเบียนจะจัดส่งไปยังอีเมล์ที่ท่านได้ให้ข้อมูลไว้
            </p>
            <p style="font-size: 16px;">
              ขอขอบคุณที่ร่วมสนุกกับกิจกรรม Huawei Grand Sales
            </p>
            <p style="font-size: 16px;">
              ท่านสามารถติดตามการประกาศผลผู้โชคดีได้ที่  <a href="https://www.facebook.com/HuaweimobileTH/">https://www.facebook.com/HuaweimobileTH/</a>
            </p>
          </div>

          <div class="form-group">
              <div style="text-align: center;">
                  <button id="confirmBtn" class="register btn btn-primary"
                  onclick="gotoMain()">กลับสู่เว็บไซต์หลัก</button>
              </div>
          </div>
            
        </div>

  </body>
</html>